{% extends 'base.html' %}
{% block title %} Aggregation Page {% endblock %}

{% block content %}

<br><br>
<h5>Summarized Stats for Players:</h5>
<p>Based on All Existing Database Entries</p>
<hr>
<br>
<table id="myTable" class="sortable table table-striped table-bordered text-center">
    <tr class="table-dark">
        <th>Player</th>
        <th>MIN</th>
        <th>2s</th>
        <th>A 2s</th>
        <th>% 2s</th>
        <th>3s</th>
        <th>A 3s</th>
        <th>% 3s</th>
        <th>FTs</th>
        <th>A FT</th>
        <th>% FT</th>
        <th>REB O</th>
        <th>REB D</th>
        <th>REB T</th>
        <th>A</th>
        <th>POA</th>
        <th>PF</th>
        <th>FD</th>
        <th>S</th>
        <th>TO</th>
        <th>B</th>
    </tr>
{% for player in players_agg %}
    <tr>
        <td>{{ player.player }}</td>
        <td>{{ player.sum_min }}</td>
        <td>{{ player.sum_made_2 }}</td>
        <td>{{ player.sum_attempts_2 }}</td>
        <td>{{ player.percentage_2 }}</td>
        <td>{{ player.sum_made_3 }}</td>
        <td>{{ player.sum_attempts_3 }}</td>
        <td>{{ player.percentage_3 }}</td>
        <td>{{ player.sum_made_ft }}</td>
        <td>{{ player.sum_attempts_ft }}</td>
        <td>{{ player.percentage_ft }}</td>
        <td>{{ player.sum_reb_o }}</td>
        <td>{{ player.sum_reb_d }}</td>
        <td>{{ player.sum_reb_t }}</td>
        <td>{{ player.sum_assist }}</td>
        <td>{{ player.sum_poa }}</td>
        <td>{{ player.sum_pf }}</td>
        <td>{{ player.sum_fd }}</td>
        <td>{{ player.sum_steals }}</td>
        <td>{{ player.sum_turnovers }}</td>
        <td>{{ player.sum_blocks }}</td>
    </tr>
{% endfor %}
</table>
<br>

{% endblock %}