{% extends 'base.html' %}
{% block title %} Aggregation Page {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br><br>
<h5>Summarized Stats for Players:</h5>
<p>Based on All Existing Database Entries</p>
<hr>
<br>
<table id="myTable" class="table table-striped table-bordered text-center">
    <tr class="table-dark">
        <th onclick="sortTable(2)">Player</th>
        <th onclick="sortTable(3)">MIN</th>
        <th onclick="sortTable(4)">2s</th>
        <th onclick="sortTable(5)">A 2s</th>
        <th onclick="sortTable(5)">% 2s</th>
        <th onclick="sortTable(6)">3s</th>
        <th onclick="sortTable(7)">A 3s</th>
        <th onclick="sortTable(7)">% 3s</th>
        <th onclick="sortTable(8)">FTs</th>
        <th onclick="sortTable(9)">A FT</th>
        <th onclick="sortTable(7)">% FT</th>
        <th onclick="sortTable(10)">REB O</th>
        <th onclick="sortTable(11)">REB D</th>
        <th onclick="sortTable(11)">REB T</th>
        <th onclick="sortTable(12)">A</th>
        <th onclick="sortTable(13)">POA</th>
        <th onclick="sortTable(14)">PF</th>
        <th onclick="sortTable(15)">FD</th>
        <th onclick="sortTable(16)">S</th>
        <th onclick="sortTable(17)">TO</th>
        <th onclick="sortTable(18)">B</th>
    </tr>
{% for player in players_agg %}
    <tr>
        <td>{{ player.player }}</td>
        <td>{{ player.sum_min }}</td>
        <td>{{ player.sum_made_2 }}</td>
        <td>{{ player.sum_attempts_2 }}</td>
        <td>{{ player.percentage_2 }}</td>
        <td>{{ player.sum_made_3 }}</td>
        <td>{{ player.sum_attempts_3 }}</td>
        <td>{{ player.percentage_3 }}</td>
        <td>{{ player.sum_made_ft }}</td>
        <td>{{ player.sum_attempts_ft }}</td>
        <td>{{ player.percentage_ft }}</td>
        <td>{{ player.sum_reb_o }}</td>
        <td>{{ player.sum_reb_d }}</td>
        <td>{{ player.sum_reb_t }}</td>
        <td>{{ player.sum_assist }}</td>
        <td>{{ player.sum_poa }}</td>
        <td>{{ player.sum_pf }}</td>
        <td>{{ player.sum_fd }}</td>
        <td>{{ player.sum_steals }}</td>
        <td>{{ player.sum_turnovers }}</td>
        <td>{{ player.sum_blocks }}</td>
    </tr>
{% endfor %}
</table>
<br>
{% else %}
    <br>
    <p>Please login to use this website.</p>
{% endif %}
{% endblock %}