{% extends 'base.html' %}
{% block title %} Alltime Stats {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br><br>
<h5>Alltime Stats:</h5>
<p>Full List of Database Entries Uploaded</p>
<hr>
<br>
<table id="myTable" class="table table-striped table-bordered text-center">
    <tr class="table-dark">
        <th onclick="sortTable(0)">#</th>
        <th onclick="sortTable(1)">Date</th>
        <th onclick="sortTable(2)">Player</th>
        <th onclick="sortTable(3)">MIN</th>
        <th onclick="sortTable(4)">2s</th>
        <th onclick="sortTable(5)">A 2s</th>
        <th onclick="sortTable(5)">% 2s</th>
        <th onclick="sortTable(6)">3s</th>
        <th onclick="sortTable(7)">A 3s</th>
        <th onclick="sortTable(7)">% 3s</th>
        <th onclick="sortTable(8)">FTs</th>
        <th onclick="sortTable(9)">A FT</th>
        <th onclick="sortTable(7)">% FT</th>
        <th onclick="sortTable(10)">REB O</th>
        <th onclick="sortTable(11)">REB D</th>
        <th onclick="sortTable(11)">REB T</th>
        <th onclick="sortTable(12)">A</th>
        <th onclick="sortTable(13)">POA</th>
        <th onclick="sortTable(14)">PF</th>
        <th onclick="sortTable(15)">FD</th>
        <th onclick="sortTable(16)">S</th>
        <th onclick="sortTable(17)">TO</th>
        <th onclick="sortTable(18)">B</th>
    </tr>
    <!-- |date:'y/m/d-h' -->
    {% for stat in statline_list %}
    <tr>
        <td>{{ stat.id }}</td>
        <td>{{ stat.date|date:'m-d-y #h' }}</td>
        <td>{{ stat.player }}</td>
        <td>{{ stat.min }}</td>
        <td>{{ stat.made_2 }}</td>
        <td>{{ stat.attempts_2 }}</td>
        <td>{{ stat.percentage_2 }}</td>
        <td>{{ stat.made_3 }}</td>
        <td>{{ stat.attempts_3 }}</td>
        <td>{{ stat.percentage_3 }}</td>
        <td>{{ stat.made_ft }}</td>
        <td>{{ stat.attempts_ft }}</td>
        <td>{{ stat.percentage_ft }}</td>
        <td>{{ stat.reb_o }}</td>
        <td>{{ stat.reb_d }}</td>
        <td>{{ stat.reb_t }}</td>
        <td>{{ stat.assist }}</td>
        <td>{{ stat.poa }}</td>
        <td>{{ stat.pf }}</td>
        <td>{{ stat.fd }}</td>
        <td>{{ stat.steals }}</td>
        <td>{{ stat.turnovers }}</td>
        <td>{{ stat.blocks }}</td>
    </tr>
    {% endfor %}  
</table>
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
    <br>
    <p>Please login to use this website.</p>
{% endif %}
{% endblock %}