{% extends 'base.html' %}
{% block title %} Alltime Stats {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<br><br>
<h5>Alltime Stats:</h5>
<p>Full List of Database Entries Uploaded</p>
<hr>
<br>
<table id="myTable" class="sortable table table-striped table-bordered text-center">
    <tr class="table-dark">
        <th>#</th>
        <th>Date</th>
        <th>Player</th>
        <th>MIN</th>
        <th>2s</th>
        <th>A 2s</th>
        <th>% 2s</th>
        <th>3s</th>
        <th>A 3s</th>
        <th>% 3s</th>
        <th>FTs</th>
        <th>A FT</th>
        <th>% FT</th>
        <th>REB O</th>
        <th>REB D</th>
        <th>REB T</th>
        <th>A</th>
        <th>POA</th>
        <th>PF</th>
        <th>FD</th>
        <th>S</th>
        <th>TO</th>
        <th>B</th>
    </tr>

    {% for stat in statline_list %}
    <tr>
        <td>{{ stat.id }}</td>
        <td>{{ stat.date|date:'m-d-y #h' }}</td>
        <td>{{ stat.player }}</td>
        <td>{{ stat.min }}</td>
        <td>{{ stat.made_2 }}</td>
        <td>{{ stat.attempts_2 }}</td>
        <td>{{ stat.percentage_2 }}</td>
        <td>{{ stat.made_3 }}</td>
        <td>{{ stat.attempts_3 }}</td>
        <td>{{ stat.percentage_3 }}</td>
        <td>{{ stat.made_ft }}</td>
        <td>{{ stat.attempts_ft }}</td>
        <td>{{ stat.percentage_ft }}</td>
        <td>{{ stat.reb_o }}</td>
        <td>{{ stat.reb_d }}</td>
        <td>{{ stat.reb_t }}</td>
        <td>{{ stat.assist }}</td>
        <td>{{ stat.poa }}</td>
        <td>{{ stat.pf }}</td>
        <td>{{ stat.fd }}</td>
        <td>{{ stat.steals }}</td>
        <td>{{ stat.turnovers }}</td>
        <td>{{ stat.blocks }}</td>
    </tr>
    {% endfor %}  
</table>
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
    <br>
    <p>Please login to use this website.</p>
{% endif %}
{% endblock %}