<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrimmage List</title>
</head>
<body>

    <h1>Scrimmage List:</h1>

    <button><a href="{% url 'upload' %}">New Upload</a></button>

    <ul>
        {% for upload in upload_list %}
            <li><a href="{{ upload.pk }}">{{ upload.title }}</a>; 
                <br><small>{{ upload.uploaded_on }}</small></li>
        {% endfor %} 
    </ul>

    
</body>
</html>