{% extends 'base.html' %}
{% block title %} Upload Page {% endblock %}


{% block content %}

    {% for msg in messages %}
        <div class="alert"> {{ msg }} </div>
    {% endfor %}    

    <h2>Use a form below to upload a new excel file:</h1>

    <form method='POST' action="{% url 'upload' %}" enctype="multipart/form-data">
        {% csrf_token %} {{ form }}
        <button value="Save">Submit</button>
    </form>
    
    <br>

    <button><a href="{% url 'home' %}">Back to List</a></button>

{% endblock %}