{% extends 'base.html' %}
{% block title %} Upload Page {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <br><br>
    <h5>Upload a new excel file:</h1>
    <hr>
    {% for msg in messages %}
        <div class="alert"> {{ msg }} </div>
    {% endfor %}
    <div class="w-50 p-3">
        <form method='POST' action="" enctype="multipart/form-data">
            {% csrf_token %} 
            {{ form.as_p }} 
            <br>
            <button class="btn btn-primary" value="Save">Submit</button>
        </form>
    </div>
{% else %}
    <br>
    <p>Please login to use this website.</p>
{% endif %}
{% endblock %}